{# templates/portail/home.html.twig #}

{% extends 'portail/layout.html.twig' %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block title %}ACCUEIL{% endblock %}

{% block slider %}
    <div class="main-slider wf100">
        <div class="home2-slider rev_slider_wrapper">

            <!-- START REVOLUTION SLIDER -->
            <div class="rev_slider_wrapper fullwidthbanner-container">
                <div id="rev-slider2" class="rev_slider fullwidthabanner">
                    <ul>
                        <li data-transition="fade"> <img src="{{ asset('theme/balad/images/h3-slide1.jpg') }}" alt="" width="1920" height="685" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                            <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top" data-voffset="175" data-transform_idle="o:1;" data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                <div class="slide-content-box">
                                    <h1>Vacances Agricoles</h1>
                                </div>
                            </div>
                            <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top" data-voffset="345" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                <div class="slide-content-box">
                                    <p>L'ADAG, participe pleinement au programme de vacances agricoles...</p>
                                </div>
                            </div>
                            <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top" data-voffset="410" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                <div class="slide-content-box"> <a href="#" class="con">Lire Plus</a> </div>
                            </div>
                        </li>
                        <li data-transition="slidehorizontal"> <img src="{{ asset('theme/balad/images/h3-slide2.jpg') }}" alt="" width="1920" height="685" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                            <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top" data-voffset="175" data-transform_idle="o:1;" data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                <div class="slide-content-box">
                                    <h1>Boloukoubouet (Akanda), <br>ce vendredi 5 juillet 2019.</h1>
                                </div>
                            </div>
                            <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top" data-voffset="345" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                <div class="slide-content-box">
                                    <p>Les investisseurs de la ferme AFA, un groupe marocain que nous avons aidé à s'installer, nous ont montré le…</p>
                                </div>
                            </div>
                            <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top" data-voffset="450" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                <div class="slide-content-box"> <a href="#" class="con">Lire Plus</a> </div>
                            </div>
                        </li>
                        <li data-transition="slidevertical"> <img src="{{ asset('theme/balad/images/h3-slide3.jpg') }}" alt="" width="1920" height="685" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                            <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top" data-voffset="175" data-transform_idle="o:1;" data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                <div class="slide-content-box">
                                    <h1>Séance de travail avec des <br>investisseurs chinois  <br>
                                        intéressés par la culture du Manioc <br>
                                        dans notre pays.</h1>
                                </div>
                            </div>
                            <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top" data-voffset="455" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                <div class="slide-content-box"> <a href="#" class="con">Lire Plus</a> </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END REVOLUTION SLIDER -->

        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <!--Mayor Msg with Video Start-->
        <section class="Mayor-video-msg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-5">
                        <!--Mayor Msg Start-->
                        <div class="city-tour gallery"> <strong> Le Directeur Général </strong>
                            <!-- <a href="http://youtu.be/VVvgm7AhFc8" data-rel="prettyPhoto" title="City Tour"><img src="images/playicon.png" alt=""></a>  -->
                            <img src="{{ asset('theme/balad/images/h3mayer.jpg') }}" alt=""> </div>
                        <!--Mayor Msg End-->
                    </div>
                    <div class="col-md-8 col-sm-7">
                        <div class="Mayor-welcome">
                            <h5>Bienvenue à l'ADAG</h5>
                            <p>Nous sommes heureux de vous accueillir sur notre site internet, disposant d'une mise en page réactive
                                et dynamique vous permettant une navigation simple et fonctionnelle. Vous y retrouverez l'ensemble des
                                actualités et événements de notre agence, les missions et activités qui nous sont dévolues.
                                Nous vous souhaitons une bonne navigation et restons disponibles pour développer ensemble l'agriculture
                                au Gabon</p>
                            <h6>M. Rolexin NGANGORI ADAMAS</h6>
                            <strong>Directeur Général</strong> </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Mayor Msg with Video End-->
        <!--City News Start-->
        <section class="wf100 city-news p75">
            <div class="container">
                <div class="title-style-3">
                    <h3>Dernières Actualités</h3>
                    <!-- <p>Read the News Updates and Articles about Government </p> -->
                </div>
                <div class="row">
                    <!--News Box Start-->
                    {% for article in last_articles|slice(0, 4) %}
                    <div class="col-md-3 col-sm-6">
                        <div class="news-box">
                            <div class="new-thumb"> <span class="cat c1">{{ article.rubrique.titre }}</span> <img src="{{ asset('images/uploads/') }}{{ article.image.imageName }}" alt=""> </div>
                            <div class="new-txt">
                                <ul class="news-meta">
                                    <li>{{ article.createdAt|date('d M, Y') }}</li>
                                    {#<li>176 Comments</li>#}
                                </ul>
                                <h6 title="{{ article.titre }}"><a href="#">{{ article.titre|truncate(40) }}</a></h6>
                                {#<p> How all this mistaken idea of denounce pleasure and praising pain was born I will give you an. </p>#}
                            </div>
                            <div class="news-box-f">
                                <!-- <img src="images/tuser1.jpg" alt=""> Johny Stewart  -->
                                <a href="#">
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!--News Box End-->
                </div>
            </div>
        </section>
        <!--City News End-->
        <!--Departments & Information Desk Start-->
        <section class="wf100 p75-50  depart-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="title-style-3">
                            <h3>Espaces Usagers</h3>
                            <!-- <p>Read the News Updates and Articles about Government </p> -->
                        </div>
                        <div class="row">
                            <!--Icon Box Start-->
                            <div class="col-md-4 col-sm-4">
                                <div class="deprt-icon-box"> <img src="{{ asset('theme/balad/images/deprticon1.png') }}" alt="">
                                    <h6> <a href="#">Guide Usagers</a> </h6>
                                    <a class="rm" href="#">Lire Plus</a> </div>
                            </div>
                            <!--Icon Box End-->
                            <!--Icon Box Start-->
                            <div class="col-md-4 col-sm-4">
                                <div class="deprt-icon-box"> <img src="{{ asset('theme/balad/images/deprticon2.png') }}" alt="">
                                    <h6> <a href="#">Foire aux questions</a> </h6>
                                    <a class="rm" href="#">Lire Plus</a> </div>
                            </div>
                            <!--Icon Box End-->
                            <!--Icon Box Start-->
                            <div class="col-md-4 col-sm-4">
                                <div class="deprt-icon-box"> <img src="{{ asset('theme/balad/images/deprticon3.png') }}" alt="">
                                    <h6> <a href="#">Ecrivez-nous</a> </h6>
                                    <a class="rm" href="{{ path('contacts') }}">Lire Plus</a> </div>
                            </div>
                            <!--Icon Box End-->
                            <!--Icon Box Start-->
                            <div class="col-md-4 col-sm-4">
                                <div class="deprt-icon-box"> <img src="{{ asset('theme/balad/images/deprticon4.png') }}" alt="">
                                    <h6> <a href="#">Nos prestations </a> </h6>
                                    <a class="rm" href="{{ path('prestations') }}">Lire Plus</a> </div>
                            </div>
                            <!--Icon Box End-->
                            <!--Icon Box Start-->
                            <div class="col-md-4 col-sm-4">
                                <div class="deprt-icon-box"> <img src="{{ asset('theme/balad/images/deprticon5.png') }}" alt="">
                                    <h6> <a href="#">Procédures</a> </h6>
                                    <a class="rm" href="#">Lire Plus</a> </div>
                            </div>
                            <!--Icon Box End-->
                            <!--Icon Box Start-->
                            {#<div class="col-md-4 col-sm-4">#}
                                {#<div class="deprt-icon-box"> <img src="{{ asset('theme/balad/images/deprticon6.png') }}" alt="">#}
                                    {#<h6> <a href="#">Conseils</a> </h6>#}
                                    {#<a class="rm" href="#">Lire Plus</a> </div>#}
                            {#</div>#}
                            <!--Icon Box End-->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="emergency-info">
                            <h5>Nos Partenaires</h5>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <!--Panel Start-->
                                {% for partenaire in partenaires %}
                                <div class="panel">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h6> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ partenaire.id }}" aria-expanded="true" aria-controls="{{ partenaire.id }}"> {{ partenaire.nom }} </a> </h6>
                                    </div>
                                    <div id="{{ partenaire.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <ul>
                                                {#<li> <i class="fas fa-user-tie"></i> Edward Robert</li>#}
                                                <li> <i class="far fa-building"></i> {{ partenaire.adresse }}</li>
                                                <li> <i class="fas fa-phone"></i> {{ partenaire.telephone }}</li>
                                                {#<li> <i class="fas fa-fax"></i> 777 555 666 </li>#}
                                                <li> <i class="far fa-envelope"></i> {{ partenaire.email }} </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--Panel End-->
                                {% endfor %}
                            </div>
                        </div>
                        {#<a href="#" class="jobs-link">A Telecharger</a>#}
                        {#<ul class="reports">#}
                            {#<li> <a href="#"><i class="fas fa-file-alt"></i> 2019 Economy Report</a> </li>#}
                            {#<li> <a href="#"><i class="fas fa-file-alt"></i> 30 Days Plans of Govt.</a> </li>#}
                            {#<li> <a href="#"><i class="fas fa-file-alt"></i> Court Case about TAX</a> </li>#}
                        {#</ul>#}
                    </div>
                </div>
            </div>
        </section>
        <!--Departments & Information Desk End-->
        <!--Recent Events Start-->
        <section class="wf100 p75 recent-events">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h3>Derniers Evenements</h3>
                        <div class="recent-event-block">
                            <!--Slider Big Slider Start-->
                            <div class="recent-event-slider">
                                <div class="event-big">
                                    <div class="event-cap">
                                        <h5><a href="{{ path('evenements') }}">Sécurité alimentaire, les leçons du COVID-19</a></h5>
                                        <ul>
                                            <li><i class="fas fa-image"></i> 1 Photos</li>
                                            <li><i class="fas fa-play-circle"></i> 1 Videos</li>
                                        </ul>
                                        {#<p> Sed nec vehicula est. Sed eget sodales mauris. Class aptent taciti sociosqu ad litora torquent per conubia. </p>#}
                                    </div>
                                    <img src="{{ asset('theme/balad/images/rec-event1.jpg') }}" alt="">
                                </div>
                                {#<div class="event-big">#}
                                    {#<div class="event-cap">#}
                                        {#<h5><a href="#">2K18 Night Celebration</a></h5>#}
                                        {#<ul>#}
                                            {#<li><i class="fas fa-image"></i> 83 Photos</li>#}
                                            {#<li><i class="fas fa-play-circle"></i> 16 Videos</li>#}
                                        {#</ul>#}
                                        {#<p> Sed nec vehicula est. Sed eget sodales mauris. Class aptent taciti sociosqu ad litora torquent per. </p>#}
                                    {#</div>#}
                                    {#<img src="{{ asset('theme/balad/images/rec-event2.jpg') }}" alt="">#}
                                {#</div>#}
                                {#<div class="event-big">#}
                                    {#<div class="event-cap">#}
                                        {#<h5><a href="#">2K18 Night Celebration</a></h5>#}
                                        {#<ul>#}
                                            {#<li><i class="fas fa-image"></i> 83 Photos</li>#}
                                            {#<li><i class="fas fa-play-circle"></i> 16 Videos</li>#}
                                        {#</ul>#}
                                        {#<p> Sed nec vehicula est. Sed eget sodales mauris. Class aptent taciti sociosqu ad litora torquent per conubia. </p>#}
                                    {#</div>#}
                                    {#<img src="{{ asset('theme/balad/images/rec-event3.jpg') }}" alt="">#}
                                {#</div>#}
                                {#<div class="event-big">#}
                                    {#<div class="event-cap">#}
                                        {#<h5><a href="#">2K18 Night Celebration</a></h5>#}
                                        {#<ul>#}
                                            {#<li><i class="fas fa-image"></i> 83 Photos</li>#}
                                            {#<li><i class="fas fa-play-circle"></i> 16 Videos</li>#}
                                        {#</ul>#}
                                        {#<p> Sed nec vehicula est. Sed eget sodales mauris. Class aptent taciti sociosqu ad litora torquent per. </p>#}
                                    {#</div>#}
                                    {#<img src="{{ asset('theme/balad/images/rec-event4.jpg') }}" alt="">#}
                                {#</div>#}
                            </div>
                            <!--Slider Big Slider End-->
                            <!--Slider Big Slider Nav-->
                            <div class="recent-event-slider-nav">
                                <div><img src="{{ asset('theme/balad/images/rec-event1.jpg') }}" alt=""></div>
                                {#<div><img src="{{ asset('theme/balad/images/rec-event-small2.jpg') }}" alt=""></div>#}
                                {#<div><img src="{{ asset('theme/balad/images/rec-event-small3.jpg') }}" alt=""></div>#}
                                {#<div><img src="{{ asset('theme/balad/images/rec-event-small4.jpg') }}" alt=""></div>#}
                            </div>
                            <!--Slider Big Slider Nav-->
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h3>Calendrier</h3>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#Events" aria-controls="Events" role="tab" data-toggle="tab">Prochains Events</a></li>
                            <li role="presentation"><a href="#Meetings" aria-controls="Meetings" role="tab" data-toggle="tab">Rencontres</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="Events">
                                <!--Event List Start-->
                                <ul class="event-list">
                                    <li> <strong class="edate">30 Jan, 2019</strong> <strong class="etime">09:00</strong> </li>
                                    <li><img src="{{ asset('theme/balad/images/upce-1.jpg') }}" alt=""></li>
                                    <li class="el-title">
                                        {#<h6><a href="#">Annual Cycling 2019 for Charity Donation</a></h6>#}
                                        {#<p><i class="fas fa-map-marker-alt"></i> Mayor Office, New York</p>#}
                                    </li>
                                    <li> <a href="#" class="joinnow">Lire Plus</a> </li>
                                </ul>
                                <!--Event List End-->
                                <!--Event List Start-->
                                <ul class="event-list">
                                    <li> <strong class="edate">30 Jan, 2019</strong> <strong class="etime">09:00</strong> </li>
                                    <li><img src="{{ asset('theme/balad/images/upce-2.jpg') }}" alt=""></li>
                                    <li class="el-title">
                                        {#<h6><a href="#">Cultural Festival & Concert at New Year</a></h6>#}
                                        {#<p><i class="fas fa-map-marker-alt"></i> Mayor Office, New York</p>#}
                                    </li>
                                    <li> <a href="#" class="joinnow">Lire Plus</a> </li>
                                </ul>
                                <!--Event List End-->
                                <!--Event List Start-->
                                <ul class="event-list">
                                    <li> <strong class="edate">30 Jan, 2019</strong> <strong class="etime">09:00</strong> </li>
                                    <li><img src="{{ asset('theme/balad/images/upce-3.jpg') }}" alt=""></li>
                                    <li class="el-title">
                                        {#<h6><a href="#">Seminar on Child Labour  held in next month</a></h6>#}
                                        {#<p><i class="fas fa-map-marker-alt"></i> Mayor Office, New York</p>#}
                                    </li>
                                    <li> <a href="#" class="joinnow">Lire Plus</a> </li>
                                </ul>
                                <!--Event List End-->
                                <!--Event List Start-->
                                <ul class="event-list">
                                    <li> <strong class="edate">30 Jan, 2019</strong> <strong class="etime">09:00</strong> </li>
                                    <li><img src="{{ asset('theme/balad/images/upce-4.jpg') }}" alt=""></li>
                                    <li class="el-title">
                                        {#<h6><a href="#">Protest against women rights violence</a></h6>#}
                                        {#<p><i class="fas fa-map-marker-alt"></i> Mayor Office, New York</p>#}
                                    </li>
                                    <li> <a href="#" class="joinnow">Lire Plus</a> </li>
                                </ul>
                                <!--Event List End-->
                            </div>
                            <div role="tabpanel" class="tab-pane" id="Meetings">
                                <!--Event List Start-->
                                <ul class="event-list">
                                    <li> <strong class="edate">30 Jan, 2019</strong> <strong class="etime">09:00 pm</strong> </li>
                                    <li><img src="{{ asset('theme/balad/images/upce-2.jpg') }}" alt=""></li>
                                    <li class="el-title">
                                        {#<h6><a href="#">Seminar on Child Labour  held in next month</a></h6>#}
                                        {#<p><i class="fas fa-map-marker-alt"></i> Mayor Office, New York</p>#}
                                    </li>
                                    <li> <a href="#" class="joinnow">Lire Plus</a> </li>
                                </ul>
                                <!--Event List End-->
                                <!--Event List Start-->
                                <ul class="event-list">
                                    <li> <strong class="edate">30 Jan, 2019</strong> <strong class="etime">09:00 pm</strong> </li>
                                    <li><img src="{{ asset('theme/balad/images/upce-3.jpg') }}" alt=""></li>
                                    <li class="el-title">
                                        {#<h6><a href="#">Cultural Festival & Concert at New Year</a></h6>#}
                                        {#<p><i class="fas fa-map-marker-alt"></i> Mayor Office, New York</p>#}
                                    </li>
                                    <li> <a href="#" class="joinnow">Lire Plus</a> </li>
                                </ul>
                                <!--Event List End-->
                                <!--Event List Start-->
                                <ul class="event-list">
                                    <li> <strong class="edate">30 Jan, 2019</strong> <strong class="etime">09:00 pm</strong> </li>
                                    <li><img src="{{ asset('theme/balad/images/upce-4.jpg') }}" alt=""></li>
                                    <li class="el-title">
                                        {#<h6><a href="#">Annual Cycling 2019 for Charity Donation</a></h6>#}
                                        {#<p><i class="fas fa-map-marker-alt"></i> Mayor Office, New York</p>#}
                                    </li>
                                    <li> <a href="#" class="joinnow">Lire Plus</a> </li>
                                </ul>
                                <!--Event List End-->
                                <!--Event List Start-->
                                <ul class="event-list">
                                    <li> <strong class="edate">30 Jan, 2019</strong> <strong class="etime">09:00 pm</strong> </li>
                                    <li><img src="{{ asset('theme/balad/images/upce-1.jpg') }}" alt=""></li>
                                    <li class="el-title">
                                        {#<h6><a href="#">Protest against women rights violence</a></h6>#}
                                        {#<p><i class="fas fa-map-marker-alt"></i> Mayor Office, New York</p>#}
                                    </li>
                                    <li> <a href="#" class="joinnow">Lire Plus</a> </li>
                                </ul>
                                <!--Event List End-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Recent Events End-->
    </div>
{% endblock %}

