{# templates/backend/blog/index.html.twig #}

{% extends 'backend/layout.html.twig' %}

{% block titre %}NeosysCMS - Admin - Vidéos{% endblock %}

{% block main_content %}

<div class="container">
    <!-- Title -->  
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h5 class="txt-dark">Vidéos</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a href="{{ path('admin_dashboard') }}">Tableau de bord</a></li>
            <li class="active"><span>Vidéos</span></li>
          </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->
    
    <!-- Row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark"><a href="{{ path('admin_video_new') }}" class="btn btn-success btn-sm btn-icon left-icon"><i class="fa fa-plus"></i>Importer une nouvelle vidéo</a></h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        {% for message in app.flashes('succes') %}
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="zmdi zmdi-check pr-15 pull-left"></i><p class="pull-left">{{ message }}.</p>
                                <div class="clearfix"></div>
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('suppression') %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-trash pr-15 pull-left"></i><p class="pull-left">{{ message }}.</p>
                                <div class="clearfix"></div>
                            </div>
                        {% endfor %}
                        <div class="row">
                            {% for video in videos %}
                            <div class="col-md-3">
                                <iframe frameborder="0" height="349" src="{{video.url}}" allowfullscreen></iframe>
                                <div class="text-right">
                                    <form method="post" action="{{ path('admin_video_delete', {'id': video.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette vidéo?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.id) }}">
                                        <button class="btn btn-danger btn-xs">Supprimer</button>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
                        </div>


                    </div>
                </div>
            </div>  
        </div>
    </div>
    <!-- /Row -->
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    
{% endblock %}
