{# templates/backend/rubrique/edit.html.twig #}

{% extends 'backend/layout.html.twig' %}

{% block titre %}NeosysCMS - Admin - Modifier Rubrique{% endblock %}

{% block main_content %}

<div class="container">
    <!-- Title -->  
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h5 class="txt-dark">Modifier rubrique[{{rubrique.id}}]</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a href="{{ path('admin_dashboard') }}">Tableau de bord</a></li>
            <li><a href="{{ path('admin_rubrique_index') }}">Rubriques</a></li>
            <li class="active"><span>Modifier Rubrique[{{rubrique.id}}]</span></li>
          </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
    	<div class="col-md-12">
    		<div class="well well-sm card-view">
				<a href="{{ path('admin_rubrique_index') }}" class="btn btn-xs btn-icon left-icon btn-primary"><i class="fa fa-arrow-left"></i>Retour a la liste</a>
			</div>
    	</div>
    </div>
    <!-- ./Row -->

	<!-- Row -->
	<div class="row">
		<div class="col-sm-12 col-xs-12 col-md-9 col-lg-9">
    		{% for message in app.flashes('succes') %}
		    	<div class="alert alert-warning alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<i class="zmdi zmdi-alert-circle-o pr-15 pull-left"></i><p class="pull-left">{{ message }}.</p>
					<div class="clearfix"></div>
				</div>
			{% endfor %}

    		<div class="well well-sm card-view">
    			<div class="row">
    				<div class="col-md-6">
    					<h6 class="mb-15">Formulaire de modification</h6>
    				</div>
    				<div class="col-md-6 text-right">
    					<form method="post" action="{{ path('admin_rubrique_delete', {'id': rubrique.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce rubrique?');">
	                        <input type="hidden" name="_method" value="DELETE">
	                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rubrique.id) }}">
	                        <button class="btn btn-danger btn-sm btn-icon left-icon"><i class="fa fa-trash"></i> Supprimer</button>
	                    </form>
    				</div>
    			</div>
				<div class="form-wrap">
					{{ include('backend/rubrique/_form.html.twig', {'button_label': 'Enregistrer', 'button_type': 'btn-warning'}) }}		
				</div>
			</div>
    	</div>
	</div>
	<!-- /Row -->
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
	    $(function() {
	    	"use strict";
	        $('textarea.ckeditor').ckeditor();
	    });

	    /*function initComment(value){
        	document.getElementById('commentaire_message').value = '<pre>'+value+'</pre>';
        }*/
	</script>
{% endblock %}

